<app-header></app-header>

<div id="layoutSidenav">
  <app-left-menu></app-left-menu>

  <div id="layoutSidenav_content">
    <div class="container mt-4">
      <div class="card rounded-0">
        <div class="card-header ">
          employee list
          
        </div>

        <div class="card-body">
          <div class="card-body">
            <ul class=''>
              <li class=''> <b>ID employeee</b> {{ employee?.id }}  </li>
              <li class=''> <b>Nom employee</b> {{ employee?.nom }}  </li>
              <li class=''> <b>Prenom employee</b>  {{ employee?.prenom }}  </li>
              <li class=''> <b>Date embauche employee</b>  {{ employee?.dateEmbauche }}  </li>
              <li class=''> <b>Etat employee</b>  {{ employee?.etat }}  </li>
              <li class=''> <b>Type contrat employee</b>  {{ employee?.typeContrat }}  </li>
              <li class=''> <b>Contract actuel</b>  {{ employee?.contrat_actuelle }}  </li>
              <li class=''> <b>Salaire employee</b> {{ employee?.salaire }}  </li>
              <li class=''> 
                {{employee?.phones | json }}           
              </li>
              <li class=''> 
                {{ employee?.adresses  | json}}
              </li>
            </ul>

          </div>
        </div>

        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
