<app-header></app-header>

<div id="layoutSidenav">

  <app-left-menu></app-left-menu>

  <div id="layoutSidenav_content">


        <div class='container mt-4'>
            <div class='card  rounded-0'>
                <div class='card-header bg-white'>
                    employee list
                <div>
                <div class='card-body'>
                   dashboard 2

                </div>
            </div>
        </div>

      
      
      <app-footer></app-footer>

  </div>


</div>
