 
 <!-- Left menu  -->
 <div id="layoutSidenav_nav" >
    <nav class="sb-sidenav accordion sb-sidenav-dark scroll scroll3 nav-left" style="background:white;box-shadow:1px 1px 2px #dfe2e5;" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
        
        
            <ul class="nav lien">
                
                <li routerLinkActive="active">
                    <a class="nav-link menu"style="color:black"  routerLink='/home'>
                      <span class="sb-nav-link-icon">
                          <i class="fas fa-table" style="color:black;"></i>
                      </span> Dashboard 1 
                   </a>
                  </li>
  
                  <li routerLinkActive="active">
                    <a class="nav-link menu"style="color:black"  routerLink='/dashboard'>
                      <span class="sb-nav-link-icon">
                          <i class="fas fa-table" style="color:black;"></i>
                      </span> Dashboard 2
                   </a>
                  </li>

                  <br/>
                  <br/>
              
                
                <li routerLinkActive="active">
                  <a class="nav-link menu"style="color:black" routerLink="/employee-form">
                    <span class="sb-nav-link-icon">
                        <i class="fas fa-table" style="color:black;"></i>
                    </span> add new
                 </a>
                </li>

                <li routerLinkActive="active">
                    <a class="nav-link menu"style="color:black"   routerLink="/employee-list">
                      <span class="sb-nav-link-icon">
                          <i class="fas fa-table" style="color:black;"></i>
                      </span> Tables
                   </a>
                  </li>

              
                
             
            </ul>
        </div>
        
        <div class="sb-sidenav-footer bg-white" style='color:black;font-size:18px;'>
            <div class="small">Logged in as:</div>
            <div class="badge bg-success"  style="text-decoration:uppercase;" >  </div>
        </div>
    </nav>
</div>
