<app-header></app-header>

<div id="layoutSidenav">
  <app-left-menu></app-left-menu>

  <div id="layoutSidenav_content">
    <main role="main">
      <div class="container-fluid">
        <div class="card bg-white mt-4">
          <div class="card-header">Dashboard</div>
          <div class="card-body">
            <div class="container content">

              <div class="row">

               
                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-bell-slash' ></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbInactif }} </h4>
                            <h5>employe inactif</h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-bell' ></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbActif }} </h4>
                            <h5>employe actif</h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-users-cog'></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbEmployee }} </h4>
                            <h5> qte employe </h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <hr/>

               <div class="row">

                  
                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-users-cog'></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbCDD }} </h4>
                            <h5> qte employe CDD </h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-users-cog'></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbCDI }} </h4>
                            <h5> qte employe CDI</h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              




                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-users-cog'></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbCDI }} </h4>
                            <h5> qte employe CDI</h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



               </div>

               <hr/>
               <div class="row">


                <div class="col-lg-4 col-md-6 col-sm-12">

                  <div class="card my-cards">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4  icons-style">
                          <i class='fas fa-users-cog'></i>
                        </div>
                        <div class="col-lg-8 text-center my-1">
                          <div class="card-title card-content">
                            <h4>{{ nbByMonth }}</h4>
                            <h5> qte employe <small>embauchee/mois</small></h5>
                          </div>
                          <div class="card-text">
                            <small class="text-muted">Last update</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


               </div>

               <hr/>


            </div>

            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="text-muted text-center m-4">
                    CHART INFO
                    <select
                      style="width: 25%; margin: auto"
                      class="form-control form-control-sm"
                      (change)="changeYear($event)"
                    >
                      <option *ngFor="let i of an">{{ i }}</option>
                    </select>
                  </div>
                  <div class="container">
                    <div class="chart-wrapper">
                      <canvas
                        id="myChart"
                        style="width:600px; height: 300px; margin: auto"
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        
      </div>

      <app-footer></app-footer>
    </main>
  </div>
</div>


