

<app-header></app-header>

<div id="layoutSidenav">

  <app-left-menu></app-left-menu>

  <div id="layoutSidenav_content">
    <main role="main">


      <div class="container-fluid">
        <div class="card bg-white mt-4">
          <div class="card-header">Dashboard</div>
          <div class="card-body">

            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-1 col-xs-3 px-2">
                <div class="card mb-3 " style="width: 250px; height: 120px">
                  <div class="row g-0">
                    <div class="col-4">
                      <img
                        src="https://th.bing.com/th/id/OIP.Opfmbsws0PLIIzpVuDppkwHaHa?w=202&h=202&c=7&r=0&o=5&pid=1.7"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-8">
                      <div class="card-body text-center">
                        <div class="card-title text-center my-3">
                          <b class="badge bg-success"> {{ nbActif }} ACTIF </b>
                        </div>
                        <div class="card-text">
                          <small class="text-muted">Last update</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-1 col-xs-3 px-2">
                <div class="card mb-3" style="width: 250px; height: 120px">
                  <div class="row g-0">
                    <div class="col-4">
                      <img
                        src="https://th.bing.com/th/id/OIP.Opfmbsws0PLIIzpVuDppkwHaHa?w=202&h=202&c=7&r=0&o=5&pid=1.7"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-8">
                      <div class="card-body text-center">
                        <div class="card-title text-center my-3">
                          <b class="badge bg-danger">
                            {{ nbInactif }}
                            INACTIF
                          </b>
                        </div>
                        <div class="card-text">
                          <small class="text-muted">Last update</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-1 col-xs-3 px-2">
                <div class="card mb-3" style="width: 250px; height: 120px">
                  <div class="row g-0">
                    <div class="col-4">
                      <img
                        src="https://th.bing.com/th/id/OIP.Opfmbsws0PLIIzpVuDppkwHaHa?w=202&h=202&c=7&r=0&o=5&pid=1.7"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-8">
                      <div class="card-body text-center">
                        <div class="card-title text-center my-3">
                          {{ nbCDD }} Employee CDD
                        </div>
                        <div class="card-text">
                          <small class="text-muted">Last update</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-1 col-xs-3 px-2">
                <div class="card mb-3" style="width: 250px; height: 120px">
                  <div class="row g-0">
                    <div class="col-4">
                      <img
                        src="https://th.bing.com/th/id/OIP.Opfmbsws0PLIIzpVuDppkwHaHa?w=202&h=202&c=7&r=0&o=5&pid=1.7"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-8">
                      <div class="card-body text-center">
                        <div class="card-title text-center my-3">
                          {{ nbCDI }} Employees CDI
                        </div>
                        <div class="card-text">
                          <small class="text-muted">Last update</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-1 col-xs-3 px-2" >
                <div class="card mb-3" style="width: 250px; height: 120px">
                  <div class="row g-0">
                    <div class="col-4">
                      <img
                        src="https://th.bing.com/th/id/OIP.Opfmbsws0PLIIzpVuDppkwHaHa?w=202&h=202&c=7&r=0&o=5&pid=1.7"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-8">
                      <div class="card-body text-center">
                        <div class="card-title text-center my-3">
                          {{ nbEmployee }} Employees
                        </div>
                        <div class="card-text">
                          <small class="text-muted">Last update</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-1 col-xs-3 px-2">
                <div class="card mb-3" style="width: 250px; height: 120px">
                  <div class="row g-0">
                    <div class="col-4">
                      <img
                        src="https://th.bing.com/th/id/OIP.Opfmbsws0PLIIzpVuDppkwHaHa?w=202&h=202&c=7&r=0&o=5&pid=1.7"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-8">
                      <div class="card-body text-center">
                        <div class="card-title text-center my-3">
                          {{ nbCDI }} embauchees / mois
                        </div>
                        <div class="card-text">
                          <small class="text-muted"> {{ dateActuel }} </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="text-muted text-center m-4">CHART INFO
                  <select style="width:25%;margin:auto;" class='form-control form-control-sm' (change) = "changeYear($event)">
                    <option *ngFor = "let i of an">{{i}}</option>
                 </select>
              </div>
              <div class="container">
                <div class="chart-wrapper">
                  <canvas id="myChart" style='width:50vw;height:200x;margin: auto;'></canvas>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>

        
      
      
      <app-footer></app-footer>

   </main>
  </div>



</div>
